header,
nav,
footer
{
	display: block;
}

{
	box-sizing: border-box;
}

body
{
	background-image: url("line.jpg");
	color: black;
	font-family: Verdana, Arial, sans-serif;

}
#wrapper
{
	min-width: 700px;
	max-width: 1024px;  					/* All internal content are placed inside this wrapper. */
	margin-right: auto;
	margin-left:  auto;

	background-color: white;
	color: black;
}

header
	{
	background-color: #00004d;     /* Banner position and color */
	font-family: sans-serif;
	}

footer{
	text-align: center;
	padding: 5px;
	  }

h1
{
	color: white;
	font-weight: strong;
	text-align: center;    /* The h1 happens to be inside the header. */
	font-size: 3em;
	padding: 5px;
	line-height: 150%;
	text-shadow: #CCCCCC;

}


.nav
{
	border: 1px solid #ccc;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding:0;
	text-align: center;
	background-color: darkslategray;
}

.nav li
{
	display:inline;
}

.nav a
{
	display: inline-block;
	font-family: Arial;
	font-size: 150%;
	font-weight: bold;
	padding: 10px 30px;
}

a:link
{
	color: white;
	text-decoration: none;
}

a:visited
{
	color: white;
	text-decoration: none;
}

a:hover
{
	color: OrangeRed;
	text-decoration: none;
}

a:active
{
	color: blue;
	text-decoration: none;
}


#mobile
{
	display: none;
}

#desktop
{
	display: inline;
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


@media only screen and (max-width: 1024px)
{
	body
	{
		margin: 0;
		padding: 0;
		background-color: white;
		background-image: none;
	}

	#wrapper
	{
		width: auto;
		min-width: 0;
		margin: 0;
	}

	h1
	{
		margin: 0;
		font-size: 1.8em;
		line-height: 200%;
	}

	nav
	{
		float: none;
		width: auto;
	}

	nav li
	{
		display: inline-block;
	}

	nav a
	{
		padding: 1em;
		font-size: 1.2em;
	}

	nav ul
	{
		text-align: center;
		padding: 0;
		margin: 0;
	}

	main
	{
		font-size: 90%;
		margin: 0;
		padding-left: 2em;
	}

	footer
	{
		margin: 0;
		text-align: center;
	}
}

@media only screen and (max-width: 768px)
	{

		header
		{
		background-image: url(lilfish.gif);
		background-position: center;
		background-repeat: no-repeat;
		}

		h1
		{
			font-size: 1.5em;
			line-height: 120%;
		}

		nav a
		{
			display: block;
			padding: 0.2em;
			font-size: 1.3 em;
			border-bottom: 1px; solid; #330000;
		}

		nav li
		{
			display: block;
		}

		nav ul
		{
			text-align: left;
		}

		main
		{
			padding-left: 1em;
		}

		.category
		{
			text-shadow: none;
		}

		#mobile
		{
			display: inline;
		}

		#desktop
		{
			display: none;
		}
	}
